footer .container {
    max-width: 1170px !important;    
}
footer .row {
    background-color: #005375 !important;   
}
.footer {
    background-color:#005375;
    height: 260px;
    padding: 0px;
    margin: 0px;
}
#foot-wrapper {
    position: relative;
    height: 250px;
    width:100%;
}
footer .logo {
    height: 80px;
    width: auto;
}
.foot-image {
    padding-left: 2px;
    padding-right: 2px;
    width: 80px;
    height: auto;
    display: inline-block !important;
}
#foot-logo {
    position: absolute;
    bottom: 5px;
    left: 0;
}
#foot-links {
    position: absolute;
    bottom: 5px;
    right: 0;
}
.footer li {
    width: 20%;
    float: left;
    list-style-type: none;
}

li img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

footer .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.small-links {
    padding-left: 0;
}

.small-wrapper {
    position: absolute;
    bottom: 15px;
}
.bottom {
    padding-top: 15px;   
}